body {
	/* adds space under navbar-fixed-top */
	padding-top: 50px;
	/* adds space under navbar-fixed-bottom */
	padding-bottom: 50px;
}

tbody {
	font-family: 'Roboto', sans-serif;
}

thead {
	font-family: 'Roboto', sans-serif;
}

.container-fluid {
	text-align: center;
}

.details {
	height: 100%;
	float: right;
	overflow: auto;
	width: 40%;
}

.fa-thumbs-o-up {
	color: Black;
}

.fa-thumbs-o-up:hover {
	color: CornflowerBlue;
}

.fa-star {
	color: LightGray;
}

.fa-star:hover {
	color: Gold;
}

.list {
	height: 40%;
	overflow: auto;
}

.list-map {
	float: left;
	width: 60%;
}

.map {
	height: 60%;
}

.panel-title {
  	padding-top: 16px;
}

.tab-active {
	display: block;
}

.tab-hide {
	display: none;
}