body {
	/* adds space under navbar-fixed-top */
	padding-top: 50px;
	/* adds space under navbar-fixed-bottom */
	padding-bottom: 50px;
}

.btn .fa-star,
.btn:hover .fa-star-o {
	display: none;
}

.btn:hover .fa-star {
	display: inline;
}

.container {
	overflow: auto;
}

.details {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 50%;
	height: 50%;
	float: right;
	overflow: auto;
}

.fa-thumbs-o-up {
	color: Black;
}

.fa-thumbs-o-up:hover {
	color: CornflowerBlue;
}

.fa-star {
	color: Gold;
}

.fa-star-o {
	color: DarkGray;
}

.list {
	margin-right: auto;
	margin-left: auto;
	width: 940px;
	height: 245px;
	overflow: auto;
}

.map {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 50%;
	height: 50%;
	float: left;
}

.tab-active {
	display: block;
}

.tab-hide {
	display: none;
}