body {
	/* adds space under navbar-fixed-top */
	padding-top: 50px;
	/* adds space under navbar-fixed-bottom */
	padding-bottom: 50px;
}

.btn .fa-star,
.btn:hover .fa-star-o {
	display: none;
}

.btn:hover .fa-star {
	display: inline;
}

.details {
	height: 100%;
	float: right;
	overflow: auto;
	width: 40%;
}

.fa-thumbs-o-up {
	color: Black;
}

.fa-thumbs-o-up:hover {
	color: CornflowerBlue;
}

.fa-star {
	color: Gold;
}

.fa-star-o {
	color: DarkGray;
}

.list {
	height: 40%;
	overflow: auto;
}

.list-map {
	float: left;
	width: 60%;
}

.map {
	height: 60%;
}

.tab-active {
	display: block;
}

.tab-hide {
	display: none;
}