{% extends "mainpage/main_page.html" %}
{% block content %}
	<div class="detailtitle">
		<p>{{ market.name }}</p>
	</div>
	
	<div class="detailwords">
		<ul>
			<li>Date: {{ market.open_month }}</li>
			<li>Website: {{ market.url }}</li>
			<li>Number of venders: {{ market.num_vendors }}</li>
			<li>Products: {{ market.products }}</li>
			<li>Type: {{ market.type }}</li>
			<li>Organization: {{ market.organization }}</li>
			Comments: comment stub
		</ul>
		<form action="/signin/" method="post">
			{% csrf_token %}
			<div>
				<textarea name="content" rows="3" cols="45"></textarea>
			</div>
			<div>
				<input type="submit" value="Post the comment!">
			</div>
		</form>
	</div>
{% endblock %}