<div id="favourite" class="tab-hide">
	<table class="table table-info-striped table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>Open Date</th>
			</tr>
		</thead>
		<tbody>
			{% for market in markets_closed %}
			<tr>
				<td><a href="#" onclick="clickOnMarket({{ market.lat }}, {{ market.lon }}, '{{ market.name }}'); 
										 toggle_details('/detail/{{ market.key.id }}/');
										 return false;
										 ">
										 {{ market.name }}
					</a>
				</td>
				<td>{{ market.open_month }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>