<div id="favourite" class="tab-hide">
	<table class="table table-info-striped table-condensed">
		<thead>
			{% for market in markets_favourites %}
			<tr>
				<td style="text-align: center; vertical-align: middle">
				<button class="btn btn-default btn-xs">Favourite</button>
				</td>
				<td><a href="#" onclick="clickOnMarket({{ market.lat }}, {{ market.lon }}, '{{ market.name }}'); 
										 toggle_details('/detail/{{ market.key.id }}/');
										 return false;
										 ">
										 {{ market.name }}
					</a>
				</td>
				<td>{{ market.open_month }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>