<div id="favourite" class="tab-hide">
	<table class="table table-info-striped table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
				<th>Open Date</th>
			</tr>
		</thead>
		<tbody>
			{% for market in markets_favourite %}
			<tr>
				<td>
					<a href="#" onclick="clickOnMarket({{ market.lat }}, {{ market.lon }}, '{{ market.name }}'); 
										 toggle_details('/detail/{{ market.key.id }}/');
										 return false;">{{ market.name }}</a>
				</td>
				<td style="vertical-align: middle">
					<form method="post" action="/delete_from_favourite/" onsubmit="delete_from_favourite(this); return false">
						{% csrf_token %}
						<input type="hidden" name="market_id" value="{{ market.key.id }}">
						<button class="btn btn-default btn-xs">Unfavourite</button>
					</form>
				</td>
				<td>{{ market.open_month }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
