<!-- Bottom navbar -->
<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
	<div class="navbar-text">
		<img src="static/Images/CurrentLocation.png" style="height: 25px; width: 20px;"> Current Location&nbsp;&nbsp;
		<img src="static/Images/CommunityMarket.png" style="height: 25px; width: 20px;"> Community Markets&nbsp;&nbsp;
		<img src="static/Images/FarmerMarket.png" style="height: 25px; width: 20px;"> Farmers Markets
	</div>
	<div class="navbar-text pull-right">
		King Sejong: Jinny Choi | Ann Kim | Junoh Lee |
		Dennis Park | Geon Young Park
	</div>
	</div>
</div>

</body>

</html>