<!-- Bottom navbar -->
<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
	<div class="navbar-text">
		<img src="static/Images/CurrentLocation.png" style="height: 25px; width: 20px;"> Current&nbsp;&nbsp;
		<img src="static/Images/CommunityMarket.png" style="height: 25px; width: 20px;"> Community Food&nbsp;&nbsp;
		<img src="static/Images/FarmerMarket.png" style="height: 25px; width: 20px;"> Farmers
	</div>
	<div class="navbar-text pull-right">
		King Sejong: Jinny Choi | Ann Eunjung Kim | Junoh Lee |
		Dennis JunOh Park | Geon Young Park
	</div>
	</div>
</div>

</body>

</html>