<html>
<head>
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<script type="text/javascript" src="/static/main_page.js"></script>

<!-- Bootstrap -->

<!-- <link href=”bootstrap/css/bootstrap.min.css” rel=”stylesheet” type=”text/css” />
<script type=”text/javascript” src=”bootstrap/js/bootstrap.min.js”></script> -->

<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
 -->
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css"> -->

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 -->
 
<!-- Bootstrap -->

</head>
<style>
#map_canvas {
	width: 100%;
	height: 100%;
	background-color: #CCC;
}
</style>
<title>Vancouver Markets</title>

<!-- Load Google Maps -->
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWLMNHOpkHQnyBKZdjyzA_22R20VZ36_E">
</script>
    
<script>
//variables

var currentLocation = new google.maps.LatLng(49.287092, -123.117703);
var communityIcon = 'static/Images/CommunityMarket.png';
var farmerIcon = 'static/Images/FarmerMarket.png';
var currentIcon = 'static/Images/CurrentLocation.png';
var markets = [
	[49.238694, -123.154812, "farmer"],
	[49.261453, -123.162453, "farmer"],
	[49.248384, -123.058292, "community"],
	[49.228060, -123.078110, "community"]];
	
//Precondition: Database has data (or result will be empy)
//Purpose: Pull market latlon/ marketType from database 
//		-Generate an array of array of markets where 
//		array = [ [lat, lon, marketType, marketName]
//			      [lat, lon, marketType, marketName]
//				   ...  ...      ...   ]   

function retrieveMarkets() {};

//Precondition: marker is valid
//Purpose: add functionality to marker when clicked (i.e. zoom and centre)

function addClickEvent(map, marker, lat, long, infowindow) {
	google.maps.event.addListener(marker, 'click', function() {
		map.setCenter(marker.position);
		map.setZoom(13);
		
		var latString = lat.toString();
		var longString = long.toString();
		var link = "http://www.google.com/maps?q=" + latString + ",+" + longString;
		var contentString = 
      '<a href=' + link + '>'+
      'Find Directions</a> '
      
		infowindow.setContent(contentString);
		infowindow.setPosition(marker.position)
		infowindow.open(map);
	});
}

//Precondition: map, and icons are initialized
//Purpose:  generate all google map markers given an array 
//		   (of array) of market information          

function createMarkers(listOfMarkets, map) {
	var infowindow = new google.maps.InfoWindow();
	for (var i = 0; i < listOfMarkets.length; i++) {
		var lat = listOfMarkets[i][0];
		var long = listOfMarkets[i][1];
		var latlong = new google.maps.LatLng(listOfMarkets[i][0], listOfMarkets[i][1]);
		var marker;
		if (listOfMarkets[i][2] == "farmer")
			marker = new google.maps.Marker( {
					position: latlong,
					map: map,
					title: listOfMarkets[i][3],
					icon: farmerIcon
				});
			
		else {
			marker = new google.maps.Marker( {
					position: latlong,
					map: map,
					title: listOfMarkets[i][3],
					icon: communityIcon
			});
		}	
		addClickEvent(map, marker, lat, long, infowindow);
	}
}

//Precondition: google map api is loaded
//Purpose:  generate a google map and call helpers
//		    to initialize the markers           
	
function initializeMap() {
	//create the map 		
	var mapCanvas = document.getElementById('map_canvas');
	var mapOptions = {
		center: currentLocation,
		zoom: 11,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
	var map = new google.maps.Map(mapCanvas, mapOptions);
	
	//create the markers
	new google.maps.Marker( {
		position: currentLocation,
		map: map,
		icon: currentIcon
	});
	createMarkers(markets, map);
} 
google.maps.event.addDomListener(window, 'load', initializeMap);
</script>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<script type=text/javascript
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>


<div class="title">Vancouver Community and Farmers Markets</div>



<script type=text/javascript>
jQuery(document).ready(function() {
    jQuery('.tabs .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');
 
        // Show/Hide Tabs
        jQuery('.tabs ' + currentAttrValue).show().siblings().hide();
 
        // Change/remove current tab to active
        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
 
        e.preventDefault();
    });
});
</script>



<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];
if(d.getElementById(id)){return}js=d.createElement(s);
js.id=id;js.src="https://platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js,fjs);
return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>





<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
$(document).ready(function(){
	
$('.fullstar').fadeTo('fast',0);
		
	$('.emptystar').toggle(
		function(){
		 $('.emptystar').fadeTo('fast', 0);
		 $('.fullstar').fadeTo('fast',1);},
		function(){
		 $('.emptystar').fadeTo('fast', 1);
		 $('.fullstar').fadeTo('fast',0);
		 });
		
});
</script>


<div class="list">

	<div class="tabs">
		<ul class="tab-links">
			<li class="active"><a href="#tab1">All Markets</a></li>
			<li><a href="#tab2">Open</a></li>
			<li><a href="#tab3">Closed</a></li>
			<li><a href="#tab4">Upcoming</a></li>
			<li><a href="#tab5">Favourite</a></li>
		</ul>

		<div class="tab-content">
			<div id="tab1" class="tab active">
				<p>
				<table>
            		<tr>
            			<td class="td1">Name</td>
            			<td class="td2">Open Date</td>
            			<td class="td2">Address</td>
            		</tr>
            		{% for market in markets %}
            		<tr>
            			<td class="td3"><a href="/detail/{{ market.key.id }}">{{ market.name }}</td>
            			<td class="td4">{{ market.open_month }}</td>
            			<td class="td4">{{ market.address }}</td>
            		</tr>
            		{% endfor %}
            	</table>
				</p>
			</div>

			<div id="tab2" class="tab">
				<p>
				<table>
            		<tr>
           				<td class="td1">Name</td>
            			<td class="td2">Open Date</td>
            			<td class="td2">Address</td>
            		</tr>
            		{% for market in markets_open %}
            		<tr>
            			<td class="td3">{{ market.name }}</td>
            			<td class="td4">{{ market.open_month }}</td>
            			<td class="td4">{{ market.address }}</td>
            		</tr>
            		{% endfor %}
            	</table>
				</p>
			</div>

			<div id="tab3" class="tab">
				<p>
				<table>
            		<tr>
           				<td class="td1">Name</td>
            			<td class="td2">Open Date</td>
            			<td class="td2">Address</td>
            		</tr>
            		{% for market in markets_closed %}
            		<tr>
            			<td class="td3">{{ market.name }}</td>
            			<td class="td4">{{ market.open_month }}</td>
            			<td class="td4">{{ market.address }}</td>
            		</tr>
            		{% endfor %}
            	</table>
				</p>
			</div>

			<div id="tab4" class="tab">
				<p>
				<table>
            		<tr>
           				<td class="td1">Name</td>
            			<td class="td2">Open Date</td>
            			<td class="td2">Address</td>
            		</tr>
            		{% for market in markets_upcoming %}
            		<tr>
            			<td class="td3">{{ market.name }}</td>
            			<td class="td4">{{ market.open_month }}</td>
            			<td class="td4">{{ market.address }}</td>
            		</tr>
            		{% endfor %}
				</p>

			</div>
			<div id="tab5" class="tab">
				<p>
				<table>
            		<tr>
           				<td class="td1">Name</td>
            			<td class="td2">Open Date</td>
            			<td class="td2">Address</td>
            		</tr>
            		<tr>
            			<td class="td3">G Mobile Produce Market</td>
            			<td class="td4">date</td>
            			<td class="td4">address</td>
            		</tr>
            		<tr>
            			<td class="td3">H Mobile Produce Market</td>
            			<td class="td4">date</td>
            			<td class="td4">address</td>
            		</tr>
            	</table>
				</p>
			</div>

		</div>
	</div>

</div>

<div class="container">
	<div class="map">
		<div id="map_canvas"></div>
	</div>

	<div class="details">
	{% block content %}
	{% endblock %}
		<div class="fbtwt">
			<div class="twt")>
				<a class="twitter-share-button" href="http://eatlocal.org/">
					Tweet </a>
			</div>
			<div class="fb">
				<div class="fb-like" data-href="http://eatlocal.org/"
					data-layout="button_count" data-action="like"
					data-show-faces="false" data-share="true"></div>
			</div>
		</div>

	</div>
	<div class="bottompanel">
		<form action="/stubmaker/" method="post">
			{% csrf_token %}
			<div>
				<input type="submit" value="Let's put a stub market!">
			</div>
		</form>
		<form action="/populate/" method="post">
			{% csrf_token %}
			<div>
				<input type="submit" value="Populate the database with real data">
			</div>
		</form>
		<span>Our Team: King Sejong <br> | JOL | GYP | JOP | EJK |
			JHC |
		</span>
	</div>
</div>


</html>
