{% include 'mainpage/header.html' %}
<body>

	<!-- Fixed top navbar -->
	<div class="navbar navbar-danger navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- Button menu for small window -->
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Vancouver Markets</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#all" onclick="initializeFilter(); retrieveAllMarkets();     createMarkers(); return false;">All     </a></li>
					<li>              <a href="#open" onclick="initializeFilter(); retrieveOpenMarkets();    createMarkers(); return false;">Open    </a></li>
					<li>            <a href="#closed" onclick="initializeFilter(); retrieveClosedMarkets();  createMarkers(); return false;">Closed  </a></li>
					<li>          <a href="#upcoming" onclick="initializeFilter(); retrieveUpcomingMarkets();createMarkers(); return false;">Upcoming</a></li>
					{% if user.is_authenticated %}
					<li><a href="#favourite">Favourite</a></li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<a href="{{ url }}" class="btn btn-block btn-social btn-google-plus navbar-btn">
            			<i class="fa fa-google-plus"></i>{{ url_linktext }}
            		</a>
            	</ul>
				<ul class="nav navbar-nav navbar-right">
					<a href="http://www.facebook.com/sharer.php?u=http://vancouver-markets.appspot.com" target="_blank" class="btn btn-social-icon btn-facebook btn-default navbar-btn">
						<i class="fa fa-facebook"></i>
					</a>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<a href="http://twitter.com/share?url=http://vancouver-markets.appspot.com/&text=Vancouver Markets" target="_blank" class="btn btn-social-icon btn-twitter btn-default navbar-btn">
						<i class="fa fa-twitter"></i>
					</a>
				</ul>
			</div>
			<!-- .navbar-collapse -->
		</div>
	</div>

<!-- javascript for navigation bar and tabs -->
<script type=text/javascript>
jQuery(document).ready(function() {
    jQuery('.navbar-collapse .nav > li > a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');
 
        // Show/Hide Tabs
        jQuery('.list ' + currentAttrValue).show().siblings().hide();
 
        // Change/remove current tab to active
        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
 
        e.preventDefault();
    });
});
</script>

<script>
$(document).ready(function(){
	$('i').toggle(function(){
		$('.fa-star').attr("color", "Gold");
		}function(){
			$('.fa-star').attr("color","LightGray");
			});
	});
</script>

	<div class="list-map">

		<!-- Market List -->
		<div class="list">

			<div id="all" class="tab-active">
				<table class="table table-warning-striped table-condensed">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Open Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{% for market in markets %}
							<td style="text-align: center; vertical-align: middle"><i class="fa fa-star fa-lg"></i></td>
							<td><a href="#" onclick="clickOnMarket({{ market.lat }}, {{ market.lon }}, '{{ market.name }}'); 
													 toggle_details('/detail/{{ market.key.id }}/');
													 return false;
													 ">
													 {{ market.name }}
								</a>
							</td>
							<td>{{ market.open_month }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div id="open" class="tab-hide">
				<table class="table table-warning-striped table-condensed">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Open Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{% for market in markets_open %}
							<td style="text-align: center; vertical-align: middle"><i class="fa fa-star fa-lg"></i></td>
							<td><a href="#" onclick="clickOnMarket({{ market.lat }}, {{ market.lon }}, '{{ market.name }}'); 
													 toggle_details('/detail/{{ market.key.id }}/');
													 return false;
													 ">
													 {{ market.name }}
								</a>
							</td>
							<td>{{ market.open_month }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div id="closed" class="tab-hide">
				<table class="table table-warning-striped table-condensed">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Open Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{% for market in markets_closed %}
							<td style="text-align: center; vertical-align: middle"><i class="fa fa-star fa-lg"></i></td>
							<td><a href="#" onclick="clickOnMarket({{ market.lat }}, {{ market.lon }}, '{{ market.name }}'); 
													 toggle_details('/detail/{{ market.key.id }}/');
													 return false;
													 ">
													 {{ market.name }}
								</a>
							</td>
							<td>{{ market.open_month }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div id="upcoming" class="tab-hide">
				<table class="table table-warning-striped table-condensed">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Open Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{% for market in markets_upcoming %}
							<td style="text-align: center; vertical-align: middle"><i class="fa fa-star fa-lg"></i></td>
							<td><a href="#" onclick="clickOnMarket({{ market.lat }}, {{ market.lon }}, '{{ market.name }}'); 
													 toggle_details('/detail/{{ market.key.id }}/');
													 return false;
													 ">
													 {{ market.name }}
								</a>
							</td>
							<td>{{ market.open_month }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			
			{% if user.is_authenticated %}
			<div id="favourite" class="tab-hide">
				<table class="table table-warning-striped table-condensed">
					<thead>
						<tr>
							<th></th>
							<th>Name</th>
							<th>Open Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="text-align: center; vertical-align: middle"><i class="fa fa-star fa-lg"></i></td>
							<td>Some market</td>
							<td>Some date</td>
						</tr>
					</tbody>
				</table>
			</div>
			{% endif %}

		</div>

		<div class="map">
			<div id="map_canvas"></div>
		</div>

	</div>
	
	<div id="details" class="details">{% include 'mainpage/detail.html' %}</div>
	
	{% include 'mainpage/footer.html' %}